
header {
    background-color: #222222;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
}

nav ul li:nth-child(1) a {
    color: #ffffff;
}

nav ul.bot li:nth-child(1) a{
    color: #778899;
}
